@charset "UTF-8";

.multi {
	/* Column Count */
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	/* Column Gap */
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;

	/* Column Style */
	-webkit-column-rule-style: solid;
	-moz-column-rule-style: solid;
	column-rule-style: solid;


}
