@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: vinta-salmon;
}

h1 {
	color: vinta-blue.ice;
}

h2 {
	color: vinta-blue.navy;
}

h3 {
	color: purple;
}

a {
	color: purple;
}

p {
	color: purple;
}
