@tailwind base;
@tailwind components;
@tailwind utilities;


/*@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
  }
  @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
  }
*/
h1 {
	font-family: 'Computer Modern', bold;
	text-align: center;
}

h2 {
	font-family: 'Computer Modern';
	text-align: center;
}

h3 {
	font-family: 'Computer Modern';
	text-align: center;
}

a {
	font-family: 'Computer Modern';
	text-align: center;
}
